/* Card CSS document */
/* Defines styling for card previews on game page */

.carddeck {
  display: flex;
  flex: 1 auto;
  justify-content: flex-start;
  align-content: flex-start;
}

.scroll-y {
  overflow-y: scroll;
  flex-flow: row wrap;
}

.scroll-x {
  overflow-x: scroll;
  flex-flow: row nowrap;
}

.card {
  display: flex;
  flex-shrink: 0;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  text-align: center;
  border: 2px solid var(--emph-b-colour);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  height: 10.5rem;
  width: 7.5rem;
  background-color: var(--bg-header-colour);
  cursor: pointer;
  transition: 0.3s ease;
}

.unplayable {
  display: none
}

.card:hover {
  border: 2px solid var(--emph-a-colour);
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
}

.card-image {
  margin: 0 auto;
  padding: 0;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  pointer-events: none;
}

.card-cost {
  color: var(--green-colour);
  font-style: italic;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 0;
}
