{% extends "base.html.njk" %}

{% block meta %}
<link rel="stylesheet" href="styles/infopage.css" type="text/css">
{% endblock %}

{% block content %}
<div id="infopagecontent">
    <p class="ip-sectionhead">Why Should You Care?</p>
    <p class="ip-text">To many people who work with Operational Technology, cyberattacks are a distant and abstract concept. The idea that such an attack could occur is understood, but often this is taken to be quite an obscure theoretical threat. It is difficult for site managers, engineers, non-technical employees and stakeholders to understand the impact lax Cyber Security implementation can have on a business.</p>
    <p class="ip-text">Despite this, the ramifications of cyberattacks can be immense, both financially and to a business's operational trust. Worse yet, as the CNI industries are responsible for Water, Power, Emergency Services, Military and Nuclear etc, should a malicious actor gain access, the following fallout may destroy or destabilise entire communities.</p>
    <p class="ip-text">We believe the best form of defence is to defend the human factor, ensuring people have tried-and-true understanding of basic cyber concepts and techniques. Conversely, we found that it is incredibly difficult to internalise and learn from training if it sits outside of the proper context. People are often told not to plug in unrecognised USB sticks, but rarely truly understand <i>why</i> it is so critically important. We made <i>Intrusions and Impacts</i> to fill that gap, giving people an entertaining, yet contextual and consequential way to learn about cyber security.</p>

    <p class="ip-sectionhead">Meet the Team</p>
    <p class="ip-text">Hi! Cheers for checking out our project! We are four British university students studying a range of subjects from Computer Science to Ancient History. We built <i>Intrusions and Impacts</i> in four weeks as a component of our 2021 summer placements with Atkins. We are:</p>
    <ul class="ip-list">
        <li><b><a class="understatedlink" href="https://www.linkedin.com/in/shevani-p-63b51221a/">Shevani Patel</a></b> - Project Manager and Lead Technical Author</li>
        <li><b><a class="understatedlink" href="https://www.linkedin.com/in/samandpel/">Sam A-P</a></b> - Lead Software Build and Deployment Engineer</li>
        <li><b><a class="understatedlink" href="https://www.linkedin.com/in/adam-e-607b2a137/">Adam Eiffert</a></b> - Subect Matter Expert and Technical Advisory</li>
        <li><b><a class="understatedlink" href="https://www.linkedin.com/in/hannasuleman/">Hanna Suleman</a></b> - UI/Design Lead and Technical Author</li>
    </ul>
    <p class="ip-text">We also owe a huge debt to the creators of <i><a class="understatedlink" href="https://www.decisions-disruptions.org">Decisions and Disruptions</a></i> at Lancaster University, the original tabletop game upon which <i>Intrusions and Impact</i> is based.</p>
    <p class="ip-text">We hope you have as much fun playing <i>Intrusions and Impact</i> as we had developing it. We hope that you find the game to be a grounded, consequential and upskill-focused learning tool to better understand the implementation of Cyber Security in CNI environments.</p>
    <a href="/game" class="ip-button">Enough chit-chat, let's play!</a>
</div>
{% endblock %}


{% block scripts %}

{% endblock %}