{% extends "base.html.njk" %}

{% block meta %}
<link rel="stylesheet" href="styles/infopage.css" type="text/css">
{% endblock %}

{% block content %}
<div id="infopagecontent">
    <img src="/images/cybersteve.png" alt="Image of Cyber Steve, our mascot" class="homeimg">
    <p class="homehead">Intrusions and Impact</p>
    <p class="homesubtitle">Reinventing Cyber-Security Training</p>
    <img src="/images/atkins.png" alt="Atkins logo" id="atkinslogo">
    <a href="/game" class="ip-button">Play</a>
</div>
{% endblock %}


{% block scripts %}

{% endblock %}