{% extends "base.html.njk" %}

{% block meta %}
<link rel="stylesheet" href="styles/infopage.css" type="text/css">
{% endblock %}

{% block content %}
<div id="infopagecontent">
    <p class="ip-sectionhead">How to play?</p>
    <p class="ip-text">Welcome to your new job as Head of Cyber Security at <i>AquaVolt Power</i> - a successful hydro-electric power company in England!</p>
    <p class="ip-text">A game of <i>Intrusions and Impact</i> lasts four turns, with a turn being equivalent to one year. Each turn, you may move cards representing Cyber Security defensive measures from the deck on the left into the staging area, up to a value of £100,000 . These cards are played once you click the 'Play' button, and any funds left over are carried over to the next round. Then, you'll get to discover the consequences of your actions...</p>
    <p class="ip-text">In summary:</p>
    <ul class="ip-list">
        <li><i><b>Click</b></i> any card for further information.</li>
        <li><i><b>Drag</b></i> any card to move it into the staging area.</li>
        <li><i><b>Click</b></i> the play button to play the staged cards.</li>
        <li><i><b>Read</b></i> the consequences of your actions.</li>
        <li><i><b>Learn</b></i> Cyber Security.</li>
    </ul>

    <p class="ip-sectionhead">What's the best way to play?</p>
    <p class="ip-text">You can play as a team or individually, but we think <i>Intrusions and Impact</i> is best played as a team.</p>
    <p class="ip-text">If you're playing as a team, we recommend all gathering around the same screen if possible, or using sharing software (Zoom, MS Teams etc) to allow all players to see the gamescreen. Discuss and deliberate freely as a team over which cards to play, but make sure you read the consequences afterwards! They don't just give you real-world examples, but might also help you choose which cards to play next...</p>

    <p class="ip-sectionhead">Who can play?</p>
    <p class="ip-text">Anyone can play!</p>

    <p class="ip-sectionhead">How long does a game last?</p>
    <p class="ip-text">It's completely up to you! Games can last as little as a minute, but the more conversation and deliberation the better.</p>
    <p class="ip-text">If you're playing as a small team, we recommend setting aside 40 minutes for the exercise (10 minutes per turn), so all players have a chance to voice and justify their ideas.</p>

    <a href="/game" class="ip-button">I'm ready, let's do this!</a>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}